body{
    margin: 0;
    padding: 0;
    background: #939ba0;
}



nav{
    background: #292b2c;
    height: 80px;
    width: 100%;
    color: #fff;
    position: fixed;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 5px;
    padding-top: 2%;
    padding-left: 7%;
    font-weight: bold;
}
label.logo .img-ii{
    width: 110px;
    margin-top: -1%;
}
nav ul{
    float: right;
    list-style: none;
    box-sizing: border-box;
    margin-right: 7%;
}

nav ul span .img-logo{
    display: none;
}

nav ul li{
    display: inline-block;
    line-height: 55px;
    margin: 0 7px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 0.3s;
}

a.active{
    border: 2px solid #ffffff;
    transition: .5s;
    padding: 12px 23px;
    border-radius: 30px;
}
a.active:hover{
    scale: 2.5;
    background: #939ba098;
}
a:hover{
    color: #b6d1e2;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 38px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


.vip{
    height: 8%;
}





.contain{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% 5%;
}
.contain .col{
    width: 60%;
}
.contain .col img{
    width: 100%;
    border-radius: 5px;
}
































@media (max-width: 986px){

    label.logo{
        font-size: 30px;
        padding-left: 40px;
        margin-left: 3%;
    }
    label.logo .img-ii{
        width: 110px;
        padding-top: 0%;
    }
    nav ul{
        float: right;
        list-style: none;
        box-sizing: border-box;
        margin-right: 3%;
    }
    nav ul li a{
        font-size: 16px;
    }



    




}

































@media (max-width: 802px) {
    .container{
        height: auto;
    }
    nav{
        position: fixed;
        width: 100%;
    }
    .checkbtn{
        display: block;
        color: rgb(255, 255, 255);
        margin-right: 8%;
    }
    label.logo{
        font-size: 30px;
        padding-left: 1px;
    }
    label.logo .img-ii{
        width: 110px;
        margin-top: -2%;
    }
  
    ul{
        position: fixed;
        width: 90%;
        height: 100vh;
        background: #292b2c;
        top: 64px;
        left: -90%;
        text-align: center;
        padding-top: 5%;
        transition: all .5s;
    }
  
    nav ul span .img-logo{
        display: block;
        width: 100%;
    }
  
    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
  
    nav ul li a{
        font-size: 20px;
        color: #fff;
    }
    a.active{
        background: none;
        color: #ffffff;
        border: 2px solid rgb(255, 255, 255);
    }
    #check:checked ~ ul{
        left: -50px;
        transition: .5s;
    }


    
.vip{
    height: 12%;
}







.contain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contain .col{
    width: 85%;
    background: #292b2c;
}
.contain .col img{
    width: 100%;
    border-radius: 5px;
}


















}