body {
    margin: 0;
    padding: 0;
    color: #000000;
    background: #ffffff;
    font-family: Arial;
}



nav {
    background: #ffffff;
    height: auto;
    width: auto;
    color: #111111;
}

label.logo {
    width: 80%;
    padding-left: 6%;
}

label.logo .img-ii {
    width: 16%;
    margin-top: 15px;
}

h1 span {
    color: #ff0000;
}

nav ul {
    float: right;
    list-style: none;
    box-sizing: border-box;
    margin-right: 5%;
}

nav ul span .img-logo {
    display: none;
}

nav ul li {
    display: inline-block;
    line-height: 55px;
    margin: 0 7px;
}

ul .bold {
    color: #E7511E;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #0F0E0E;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 0.3s;
}

a.active {
    background: #E7511E;
    color: #ffffff;
    transition: .5s;
    padding: 12px 35px;
    border-radius: 10px;
}

a.active:hover {
    scale: 2.5;
    background: #bd6244;
    color: #ffffff;
}

a:hover {
    color: #E7511E;
}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 38px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}



.col {
    width: 100%;
    background: #0F0E0E;
    display: flex;
    justify-content: center;
}

.col p {
    color: #fff;
}











.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section .sect {
    width: 85%;
}

.sect h1 {
    width: auto;
    border-bottom: 1px solid black;
    padding-left: 2%;
    padding-bottom: 1%;
}

.sect .ect {
    width: auto;
    background: #F1F1F1;
    padding: 3% 2%;
    border-radius: 12px;
}




















footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #FAFAFA;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-top: 3%;
}

footer .foo {
    width: 95%;
    display: block;
}

.foo .ote {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.ote img {
    width: 15%;
    height: 10%;
}

.ote ul {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.ote ul li {
    list-style: none;
}

.ote ul li a {
    text-decoration: none;
    color: #000;
}

.ote .oo {
    width: 20%;
    height: 8vh;
    display: flex;
    justify-content: end;
}

.oo h3 {
    line-height: normal;
}

.oo .oto {
    width: 50%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oo .oto img {
    width: 45%;
    height: auto;
}

.oo .oto a .lock {
    width: 80%;
    height: auto;
}

.foo .ter {
    width: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    padding-top: 1%;
}

.foo .ter img {
    width: 5%;
}


























@media (max-width: 986px) {

    label.logo {
        width: auto;
        margin-left: 3%;
    }

    label.logo .img-ii {
        width: 85%;
        margin-top: 3%;
    }

    nav ul {
        float: right;
        list-style: none;
        box-sizing: border-box;
        margin-right: 3%;
    }

    nav ul li a {
        font-size: 16px;
    }








}









































@media (max-width: 975px) {
    .container {
        height: auto;
    }

    nav {
        position: fixed;
        width: 100%;
    }

    .checkbtn {
        display: block;
        color: #0F0E0E;
        margin-right: 5%;
    }

    label.logo {
        margin-left: 0.5%;
        display: flex;
        justify-content: start;
    }

    label.logo .img-ii {
        width: 50%;
        margin-top: 4%;
    }

    ul {
        position: fixed;
        width: 90%;
        height: 100vh;
        background: #702810;
        top: 63px;
        left: -100%;
        text-align: center;
        padding-top: 5%;
        transition: all .5s;
    }

    nav ul span .img-logo {
        display: block;
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
        color: #fff;
    }

    a.active {
        background: none;
        color: #ffffff;
        border: 2px solid rgb(255, 255, 255);
    }

    #check:checked~ul {
        left: -50px;
        transition: .5s;
    }








    .col {
        display: block;
    }















    .section {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 8%;
    }

    .section .sect {
        width: 85%;
    }

    .sect h1 {
        width: auto;
        border-bottom: 1px solid black;
        padding-left: 2%;
        padding-bottom: 1%;
    }

    .sect .ect {
        width: auto;
        background: #F1F1F1;
        padding: 3% 3%;
        border-radius: 12px;
    }

    .ect .set {
        padding-bottom: 2%;
    }

    .set h2 {
        font-size: 20px;
    }


















    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #d8d6d5;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    footer .foo {
        width: 90%;
        display: block;
    }

    .foo .ote {
        width: auto;
        display: flex;
        justify-content: space-between;
    }

    .ote img {
        width: 35%;
        height: 10%;
    }

    .ote ul {
        display: none;
    }

    .ote .oo {
        width: 70%;
        height: auto;
        display: flex;
        justify-content: end;
    }

    .oo h3 {
        line-height: normal;
        font-size: 15px;
    }

    .oo .oto {
        width: 32%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .oo .oto img {
        width: 45%;
        height: auto;
    }

    .oo .oto a .lock {
        width: 80%;
        height: auto;
    }

    .foo .ter {
        width: auto;
        display: flex;
        justify-content: center;
        border-top: 1px solid black;
        padding-top: 1%;
    }

    .foo .ter img {
        width: 15%;
    }

























}