body {
    margin: 0;
    padding: 0;
    color: #000000;
    background: #ffffff;
    font-family: Arial;
}

nav {
    background: #ffffff;
    height: auto;
    width: auto;
    color: #111111;
}

label.logo {
    width: 80%;
    padding-left: 6%;
}

label.logo .img-ii {
    width: 16%;
    margin-top: 15px;
}

h1 span {
    color: #ff0000;
}

nav ul {
    float: right;
    list-style: none;
    box-sizing: border-box;
    margin-right: 5%;
}

nav ul span .img-logo {
    display: none;
}

nav ul li {
    display: inline-block;
    line-height: 55px;
    margin: 0 7px;
}

ul .bold {
    color: #E7511E;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #0F0E0E;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 0.3s;
}

a.active {
    background: #E7511E;
    color: #ffffff;
    transition: .5s;
    padding: 12px 35px;
    border-radius: 10px;
}

a.active:hover {
    scale: 2.5;
    background: #bd6244;
    color: #ffffff;
}

a:hover {
    color: #E7511E;
}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 38px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}



.col {
    width: 100%;
    background: #0F0E0E;
    display: flex;
    justify-content: center;
}

.col p {
    color: #fff;
}




header {
    background: url("../image/header.png");
    background-size: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: -1px;
}

header .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
    padding-bottom: 4%;
}

header .head .lef {
    width: 38%;
    margin-left: 5%;
}

header .head .lef h3 {
    color: #E7511E;
}

header .head .lef h1 {
    font-size: 36px;
    font-weight: bold;
}

header .head .lef h1 span {
    color: #E7511E;
}

header .head .lef .row {
    display: flex;
    justify-content: start;
    align-items: center;
}

header .head .lef .row .sec {
    width: 15%;
    align-items: center;
}


header .head .rig {
    width: 35%;
}

header .head .rig h2 {
    width: 90%;
    font-size: 28px;
}

header .head .rig a {
    text-decoration: none;
    background: #ffffff;
    padding: 12px 35px;
    border-radius: 10px;
    border: none;
    color: #E7511E;
    transition: 0.3s;
}

header .head .rig a:hover {
    background: #f8ece8;
}



section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 4%;
}

section .coll {
    width: auto;
}

section .coll .oll {
    display: flex;
    justify-content: center;
}

section .coll .oll p {
    width: 50%;
    text-align: center;
}

section .coll .oll p span {
    font-weight: bold;
}

section .coll h2 {
    font-size: 24px;
    text-align: center;
    width: 60%;
}

section .coll h2 span {
    color: #E7511E;
}

section .coll div {
    display: flex;
    justify-content: center;
}

section .coll .rol {
    margin-top: 1%;
}

section .coll .rol a {
    text-decoration: none;
    color: #E7511E;
}

section .coll .rol a {
    padding: 12px 35px;
    margin-left: 2%;
    border-radius: 10px;
    border: 2px solid #E7511E;
    background: none;
    color: #E7511E;
    transition: 0.3s;
}

section .coll .rol a:hover {
    background: #E7511E;
    color: #ffffff;
}








.section2 {
    width: auto;
    display: block;
}

.section2 h2 {
    text-align: center;
    margin-bottom: 3%;
}

.section2 .sect {
    display: block;
    width: 100%;
}

.sect .secti {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section2 .wo {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
}

.wo .loc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.loc .lef {
    width: 25%;
    display: block;
    padding-bottom: 1%;
    border-radius: 12px;
    transition: 0.3s;
}

.loc .lef:hover {
    box-shadow: 0px 0px 12px 1px #faede4;
}

.cen {
    width: 100%;
    display: flex;
    justify-content: center;
}

.lef img {
    width: 80%;
    border-radius: 12px;
}

.lef .cont {
    width: auto;
    height: auto;
    line-height: 15px;
    margin-top: 3%;
}

.cont h4 {
    font-size: 16px;
    font-weight: lighter;
    color: #ffa96a;
    text-align: center;
}

.cont h3 {
    margin-bottom: -3%;
    text-align: center;
}

.cont span {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: -12px;
    margin-bottom: -8px;
}

.cont h1 {
    font-size: 28px;
    color: #ffa96a;
    margin: -2% 0;
    align-content: center;
}

.cont span img {
    width: auto;
    height: auto;
}

.cont p {
    color: #000000;
    text-align: center;
}

.cen button {
    padding: 10px 56px;
    background: #ffa96a;
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

.cen button a {
    text-decoration: none;
    color: #ffffff;
}

.cen button:hover {
    background: #bd6244;
}










.section3 {
    width: 100%;
    display: block;
}

.section3 h2 {
    text-align: center;
}

.section3 .roo {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.section3 .roo .roll {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.section3 .roo .roll img {
    width: 28%;
}














.section4 {
    width: 100%;
    display: block;
}

.section4 h1 {
    font-size: 33px;
    text-align: center;
}

.section4 h1 span {
    color: #ffa96a;
}

.section4 p {
    text-align: center;
}

.section4 .cti {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.section4 .logo {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.cti .logo img {
    width: 20%;
}


















.section5 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section5 .sct {
    width: 95%;
    display: block;
}

.section5 .sct h2 {
    text-align: center;
}

.section5 .sct .content {
    width: auto;
    display: block;
    margin-top: 3%;
}

.content .tent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.content .tent .ent {
    width: 23%;
    display: block;
    padding: 10px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 1px #faede4;
}

.tent .ent .cow {
    width: auto;
    display: flex;
    justify-content: start;
    border-top: 1px solid black;

}

.ent .cow img {
    width: 12%;
    height: 10%;
    padding-top: 7px;
}

.ent .cow h3 {
    line-height: normal;
    margin-left: 1%;
    padding-top: 3px;
}



















footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #FAFAFA;
    padding-top: 2%;
    padding-bottom: 1%;
}

footer .foo {
    width: 95%;
    display: block;
}

.foo .ote {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.ote img {
    width: 15%;
    height: 10%;
}

.ote ul {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.ote ul li {
    list-style: none;
}

.ote ul li a {
    text-decoration: none;
    color: #000;
}

.ote .oo {
    width: 20%;
    height: 8vh;
    display: flex;
    justify-content: end;
}

.oo h3 {
    line-height: normal;
}

.oo .oto {
    width: 50%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oo .oto img {
    width: 45%;
    height: auto;
}

.oo .oto a .lock {
    width: 80%;
    height: auto;
}

.foo .ter {
    width: auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    padding-top: 1%;
}

.foo .ter img {
    width: 5%;
}






























@media (max-width: 986px) {

    label.logo {
        width: auto;
        margin-left: 3%;
    }

    label.logo .img-ii {
        width: 85%;
        margin-top: 3%;
    }

    nav ul {
        float: right;
        list-style: none;
        box-sizing: border-box;
        margin-right: 3%;
    }

    nav ul li a {
        font-size: 16px;
    }








}

















@media (max-width: 975px) {
    .container {
        height: auto;
    }

    nav {
        position: fixed;
        width: 100%;
    }

    .checkbtn {
        display: block;
        color: #0F0E0E;
        margin-right: 5%;
    }

    label.logo {
        margin-left: 0.5%;
        display: flex;
        justify-content: start;
    }

    label.logo .img-ii {
        width: 54%;
        margin-top: 6%;
    }

    ul {
        position: fixed;
        width: 90%;
        height: 100vh;
        background: #702810;
        top: 63px;
        left: -100%;
        text-align: center;
        padding-top: 5%;
        transition: all .5s;
    }

    nav ul span .img-logo {
        display: block;
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
        color: #fff;
    }

    a.active {
        background: none;
        color: #ffffff;
        border: 2px solid rgb(255, 255, 255);
    }

    #check:checked~ul {
        left: -50px;
        transition: .5s;
    }



















    .col {
        display: block;
    }





    header {
        width: 100%;
        background: #E7E7E7;
        display: flex;
        justify-content: center;
    }

    header .head {
        width: 100%;
        display: block;
        padding-top: 10%;
        padding-bottom: 0%;
    }

    header .head .lef {
        width: auto;
        background: #E7E7E7;
        margin-bottom: 3%;
    }

    header .head .lef h1 {
        font-size: 26px;
        font-weight: bold;
    }

    header .head .lef .row {
        width: auto;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    header .head .lef .row .sec {
        width: 15%;
        align-items: center;
    }

    header .head .lef .row h4 {
        font-size: 12px;
    }


    header .head .rig {
        width: auto;
        display: flex;
        background: #EB5E3E;
        padding-bottom: 7%;
        color: #ffffff;
        justify-content: center;
    }

    header .head .rig .hig {
        width: 90%;
    }

    header .head .rig h2 {
        width: 100%;
        font-size: 22px;
    }

    header .head .rig h4 {
        font-size: 13px;
    }










    section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 4%;
    }

    section .coll {
        width: auto;
    }

    section .coll .oll {
        display: flex;
        justify-content: center;
    }

    section .coll .oll h2 {
        font-size: 20px;
        width: 90%;
    }

    section .coll .oll p {
        width: 90%;
        text-align: center;
    }

    section .coll h2 {
        font-size: 24px;
        text-align: center;
        width: 60%;
    }

    section .coll div {
        display: flex;
        justify-content: center;
    }

    section .coll div img {
        width: 70%;
    }

    section .coll .rol {
        margin-top: 1%;
    }

    section .coll .rol a {
        padding: 12px 15px;
        margin-left: 2%;
        border-radius: 10px;
        border: 2px solid #E7511E;
        background: none;
        color: #E7511E;
        transition: 0.3s;
        text-align: center;
    }







    .section2 {
        width: auto;
        display: block;
        margin-top: 10%;
    }

    .section2 h2 {
        text-align: center;
        margin-bottom: 3%;
    }

    .section2 .sect {
        display: block;
        width: 100%;
    }

    .sect .secti {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section2 .wo {
        width: 70%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .wo .loc {
        width: 100%;
        display: block;
        margin-bottom: 5%;
    }

    .loc .lef {
        width: auto;
        display: block;
        justify-content: start;
        align-items: start;
        margin-top: 10%;
        padding-bottom: 5%;
        border-radius: 12px;
        transition: 0.3s;
    }

    .loc .lef:hover {
        box-shadow: 0px 0px 12px 1px #faede4;
    }

    .lef .cen img {
        width: 75%;
        height: auto;
        border-radius: 12px;
    }

    .lef .cont {
        width: auto;
        height: auto;
        line-height: 15px;
        margin-top: 1%;
        align-items: center;
    }

    .cont h4 {
        font-size: 16px;
        font-weight: lighter;
        color: #ffa96a;
        text-align: center;
    }

    .cont h3 {
        margin-bottom: -3%;
        text-align: center;
    }

    .cont span {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: -12px;
        margin-bottom: -8px;
    }

    .cont h1 {
        font-size: 28px;
        color: #ffa96a;
        margin: -2% 0;
        align-content: center;
    }

    .cont span img {
        width: auto;
        height: auto;
    }

    .cont p {
        color: #000000;
        text-align: center;
    }

    .cen {
        display: flex;
        justify-content: center;
    }

    .cen button {
        padding: 10px 36px;
        background: #ffa96a;
        color: white;
        border-radius: 5px;
        border: none;
        transition: 0.3s;
    }

    .cen button:hover {
        background: #bd6244;
    }










    .section3 {
        width: 100%;
        display: block;
    }

    .section3 h2 {
        text-align: center;
    }

    .section3 .roo {
        width: auto;
        display: flex;
        justify-content: center;
        margin-top: 4%;
    }

    .section3 .roo .roll {
        width: 80%;
        display: flex;
        justify-content: space-between;
    }

    .section3 .roo .roll img {
        width: 30%;
    }














    .section4 {
        width: 100%;
        display: block;
    }

    .section4 h1 {
        font-size: 33px;
        text-align: center;
    }

    .section4 h1 span {
        color: #ffa96a;
    }

    .section4 p {
        text-align: center;
    }

    .section4 .cti {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .section4 .logo {
        width: 85%;
        display: flex;
        justify-content: space-between;
    }

    .cti .logo img {
        width: 25%;
    }


















    .section5 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }

    .section5 .sct {
        width: 95%;
        display: block;
    }

    .section5 .sct h2 {
        text-align: center;
    }

    .section5 .sct .content {
        width: 100%;
        display: block;
        margin-top: 3%;
    }

    .content .tent {
        width: auto;
        display: block;
        margin-bottom: 1%;
    }

    .content .tent .ent {
        width: auto;
        display: block;
        padding: 10px;
        margin-bottom: 5%;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: 0px 0px 12px 1px #faede4;
    }










    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #d8d6d5;
        padding-top: 2%;
        padding-bottom: 1%;
    }

    footer .foo {
        width: 90%;
        display: block;
    }

    .foo .ote {
        width: auto;
        display: flex;
        justify-content: space-between;
    }

    .ote img {
        width: 35%;
        height: 10%;
    }

    .ote ul {
        display: none;
    }

    .ote .oo {
        width: 70%;
        height: auto;
        display: flex;
        justify-content: end;
    }

    .oo h3 {
        line-height: normal;
        font-size: 15px;
    }

    .oo .oto {
        width: 32%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .oo .oto img {
        width: 45%;
        height: auto;
    }

    .oo .oto a .lock {
        width: 80%;
        height: auto;
    }

    .foo .ter {
        width: auto;
        display: flex;
        justify-content: center;
        border-top: 1px solid black;
        padding-top: 1%;
    }

    .foo .ter img {
        width: 15%;
    }




























}